<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>JSF Response Page</title>
</head>
<h:body>
 <ui:composition template="layouts/commonLayout.xhtml">
 <ui:define name="content">
  <p>#{flash.user.firstName}</p>
 <p>#{flash.user.lastName}</p>
 <h:button value="Back" outcome="TestForm" />
</ui:define>
 </ui:composition>
</h:body>
</html>