<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

	<div id = "page">
			<div id = "header" align="center">
				<ui:insert name ="header">
					<ui:include src="commonHeader.xhtml"/>
				</ui:insert>
			</div>
			
			<div id = "content" align="center">
				<ui:insert name ="content">
					<ui:include src="commonContent.xhtml"/>
				</ui:insert>
			</div>
			
			<div id = "footer" align="center">
					<ui:insert name="footer">
					<ui:include src="commonFooter.xhtml"/>
					</ui:insert>

	
</div>
</div>
</body> 
</html>
